# Environnements
.env
.venv/
venv/
env/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Distribution / build
build/
dist/
*.egg-info/

# Logs
*.log

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db